// font-style: normal | italic | oblique | inherit
.header {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
.header_logo{

}
.header_info{
display: flex;
font-family: 'Raleway', sans-serif;

}
.header_info :first-child{
    
    font-size: 0.8em;
    font-weight: 500;
    color: #808080;
    font-style: normal;
}
.header_info :last-child{
    
    font-size: 1em;
    font-weight: 600;
    color: #32303E;
    font-style: normal;
}
.header-contacts{
    display: flex;
}