.characteristics{
    font-size: 16px;
    
}
.characteristics-items{
    display: flex;
    justify-content: space-around;
    margin: 40px 0 100px 0;
}
.characteristics-item{
    box-shadow: 5px 5px 15px rgba(176, 174, 168, 0.25);
    border-radius: 10px;
    width: 390px;
    min-height: 160px;
    padding: 0 21px 20px 0;
}
.characteristics_content{
    display: flex;
}
.characteristics__content-icon{
    margin: 21px 25px 0 25px;
    min-width: 40px;
    img{
        width: 40px;
        height: 40px;
    }
}
.characteristics__content-text{
    .characteristics__content_title{
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 1.5em;
        color: #334483;
        padding: 13px 20px 0 0;
        
        span{
            position: relative;
            &::before{
                content: "";
                position: absolute;
                bottom: 0px;
                left: 0;
                width: 100%;
                // height: 20px;
                border-bottom: 2px dashed #d3d3d3;
            }
        }
       
    }
    .characteristics__content_text{
        margin: 20px 0 0 0;
        width: 284px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 1.1em;
    }
}


.using {}
.using-content{
    display: flex;
}
.using-content_text{
    display: flex;
    flex-direction: column;
    width: 340px;
    margin: 0 70px 0 0;
    .using-content_text-title{
        font-family: 'Exo 2', sans-serif;
        color: #000;
        font-size: 2.9em;
        line-height: 120%;
        font-weight: 600;
    }
    .using-content_text-subtitle{
        font-family: 'Raleway', sans-serif;
        font-size: 1.1em;
        font-weight: 500;
        padding:20px 0 0 0;
        span{
            color: #FFAB00;
        }
    }
    .using-content_text-button{
        margin: 20px 0 0 0;
        cursor: pointer;
        width: 310px;
        height: 50px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background: #FFAB00;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        font-weight: 700;
        transition: 0.1s ease-in all;
        &:hover{
            background: #3CCE42;
        }
    }
}
.using-content_items{
    display: flex;
    flex-wrap: wrap;
    
    
    
    .using-content_item{
        height: 250px;
        padding: 13px 0 0 0;
        width: 390px;
        margin-top:17px;
        &:nth-child(2n+1){
            margin-right:20px;
        }
        &:nth-child(1){
            margin-top:0px;
        }&:nth-child(2){
            margin-top:0px;
        }
        .using-content_wrapper-card{
            box-shadow: 5px 5px 15px rgba(176, 174, 168, 0.25);
            font-size: 1em;
            font-weight: 500;
            font-family: 'Raleway', sans-serif;
            
            &:hover{
                box-shadow: 5px 5px 15px rgba(151, 151, 150, 0.466);
            }
            span{
                display: block;
                padding: 0px 0 7px 20px;
                margin: 0px 0 7px 0;
            }
        }
    }
}
