.header {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    width: 100%;
}
.header_logo{

}

.header_info {
display: flex;
font-family: 'Raleway', sans-serif;
margin: 0 81px 0 0;

.info-text{
    font-size: 0.7em;
    font-weight: 500;
    color: #808080;
    width: 189px;
}

.info-delivery {
    font-size: 1.3em;
    font-weight: 600;
    color: #32303E;
}
}

.header-contacts{
    display: flex;
}
