.promo{
    display: flex;
    height: auto;
    font-size: calc(15px + 1 * (100vw / 1980))
}
.promo-text{
    flex-grow: 1;
    background: linear-gradient(40deg, rgba(32,36,59,1) 0%, rgba(52,56,81,1) 48%, rgba(66,69,97,1) 100%);
    display: flex;
    flex-direction: column;
    width: 60%;
    // align-items: center;
    // padding: 10% 50px 0 20%;
    .title{
        font-family: 'Exo 2', sans-serif;
        color: #fff;
        font-size: 3em;
        font-weight: 500;
        width: 618px;
        line-height:60.5px;
        margin: 50px 55px 0 357px;
        span{
            color:#FFAB00;
            font-family: 'Russo One', sans-serif;
            font-weight: 400;
        }
    }
    .subtitle{
        color: #FFAB00;
        width: 290px;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        font-weight: 500;
        padding: 14px 33px;
        border: 1px solid #FFAB00;
        border-radius: 5px;
        position: relative;
        margin: 30px 55px 9px 357px;
        span{
            font-weight: 600;
            font-family: 'Rubik', sans-serif;
        }
        &::after{
            content: "— за счет прямых поставок с завода";
            position: absolute;
            color: #fff;
            width: 350px;
            left: 300px;
            font-size: 1.2em;
            

        }
    }
    .promo-button{
        display: flex;
        padding: 0 0 0 10px;
        margin: 0 55px 0 357px;
        span{
            color: #fff;
            font-size: 1.2em;
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 24px 0 0;
            position: relative;
            &::before{
                content: "";
                background: url(../image/Vector1.svg)50% 50%/contain no-repeat;
                width: 150px;
                height: 150px;
                position: absolute;
                right: -70px;
                top: 15px;
            }

        }
        .button{
            width: 289px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FFAB00;
            color: #fff;
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            border-radius: 5px;
            transition: 0.1s ease-in all;
            cursor: pointer;
            &:hover{
                background: #3CCE42;
            }
        }
    }
    .arrows{
        margin-top: 90px;
        width: 100%;
        height: 100%;
        position: relative;
        // background: #fff;

        .arrows-wrapp{
            width: 100px;
            margin: 0px 15px 30px 0;
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            // flex-direction: row-reverse;
            justify-content: space-around;
        }
        .arrows-left{
            padding: 10px 0 0 0;
            margin: 0 30px 0 0;
            span{
               display: block;
               border-radius: 10px;
               &:nth-child(1){
                height: 3px;
                width: 35px;
                transform: translateX(2px)translateY(1.5px);
               } 
               &:nth-child(2){
                width: 18px;
                height: 3px;
                transform: rotate(30deg)translateX(0px)translateY(3px);
                
               }
               &:nth-child(3){
                width: 18px;
                height: 3px;
                transform: rotate(-30deg)translateY(-8px)translateX(3px);
               }
            }
            
        }

        .arrows-right{
            padding: 10px 0 0 0;
            span{
                display: block;
                border-radius: 5px;
                &:nth-child(1){
                    width: 35px;
                    height: 3px;
                    transform: translateX(-4px)translateY(1.5px);
                    
                   } 
                   &:nth-child(2){
                    width: 18px;
                    height: 3px;
                    transform: rotate(30deg)translateX(9px)translateY(-12px);
                    
                   }
                   &:nth-child(3){
                    width: 18px;
                    height: 3px;
                    transform: rotate(-30deg)translateX(12px)translateY(7px);
                   }
             }
        }
    }
}
.promo-slider{
    overflow: hidden;
    flex-shrink: 1;
    width: 50%;
    .slider-track{
    display: flex;
    transition: .3s ease-in;
    .slider-item{
        min-width: 100%;
        img{
            object-fit: cover;
            min-height: 100%;
        }
    }
    }
}
.btn_not-active{
    cursor: default;
    span{
        background: rgb(160, 160, 160);
    }
}
.btn_active{
    cursor: pointer;
    span{
        background: #fff;
    }
}