@import '_reset.scss';
@import 'header.scss';
@import 'promo.scss';
.content-wrap{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;
}
.screen-wrap{
    max-width: 1920px;
    margin: 0 auto; 
}