@import '_reset.scss';
@import 'header.scss';
@import 'promo.scss';
.content-wrap{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;
}
.screen-wrap{
    max-width: 1920px;
    margin: 0 auto; 
}

// адаптивный шрифт
// 40px, 24px это условные шрифты
// font-size: calc(24px + 16 * (100vw / 1280))
// 24px это оптимальный шрифт намобильных утройствах 
// 16px это 40px - 24px 40px это набоьших экранах
// при разрешении ниже 767px нужно отнять 320px от 100vw и добавить 70% от 16
// font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280))